## {{ issueID }} — Automatic Error Report

**Reporter:** {{ reporter.username }}#{{ reporter.discriminator }} (ID: {{ reporter.id }})
**Guild:** {{ guild.de }}
**Timestamp:** {{ timestamp }}
**Database Record ID:** {{ databaseRecordId }}

### Error Summary
- **Type:** {{ errorType }}
- **Message:** {{ errorMessage }}

### Stack Trace
```stack
{{ errorStack }}
```